.thumbnail-collection {
  background-image: url("https://i.seadn.io/gcs/files/8d6044349a7889c0a079f20883c509e9.png?auto=format&dpr=1&w=1920");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40%;
  width: 100%;
}